[Unit]
Description=Watchtower Server | Network Monitoring | Metric Aggregation
After=network.target

[Service]
ExecStart=/opt/watchtower/bin/watchtower_server
WorkingDirectory=/opt/watchtower/bin
User=root
Restart=Always
RestartSec=15

[Install]
WantedBy=multi-user.target